<nav class="navbar navbar-default">
                <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <a class="navbar-brand" href="#"><img src="../images/logo.jpg" alt="Logo"/></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="../controller/controller.php">Home</a></li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Games <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="../controller/controller.php?action=ShowGames">View All</a></li>
                            <?php if (userIsAuthorized("AddGame")) { ?>
                            <li><a href="../controller/controller.php?action=AddGame">Add A Game</a></li>
                            <?php } ?>
                            <li> Genre</li>
                            <li><a href="../controller/controller.php?action=ShowGames&ListType=Genre&Genre=Horror">Horror</a></li>
                            <li><a href="../controller/controller.php?action=ShowGames&ListType=Genre&Genre=Action">Action</a></li>
                            <li><a href="../controller/controller.php?action=ShowGames&ListType=Genre&Genre=RPG">RPG</a></li>
                            <li class="divider"></li>
                            <li>Console</li>
                            <li><a href="../controller/controller.php?action=ShowGames&ListType=Console&Console=Playstation">Playstation</a></li>
                            <li><a href="../controller/controller.php?action=ShowGames&ListType=Console&Console=Xbox">Xbox</a></li>
                            <li><a href="../controller/controller.php?action=ShowGames&ListType=Console&Console=PC">PC</a></li>
                        </ul>
                    </li>       
                        <?php if (userIsAuthorized("FileManagement") || userIsAuthorized("SendEmails")) { ?>
                        <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="../controller/controller.php?action=FileManagement">File Management</a></li>
                                <li><a href="../controller/controller.php?action=SendEmails">Send Emails</a></li>
                            </ul>
                        </li>
                        <?php } ?>
                        <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Help <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="../controller/controller.php?action=About">About</a></li>
                                <li><a href="../controller/controller.php?action=Ideas">Ideas</a></li>
                                <li><a href="../controller/controller.php?action=CheckSheet">Check Sheet</a></li>
                            </ul>
                        </li>                
                    </ul>
                        <form class="navbar-form navbar-left" role="search" action="../controller/controller.php?action=SearchGames">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search Games" id="Criteria"/>
                            </div>
                            <input type="button" class="btn btn-default" onclick="generalSearch()" value="Search"/>
                        </form>
                <div class="rA">Subscribe now to our Newsletter! <a href="../controller/controller.php?action=Signup"><img src="../images/newsletter.png" alt="Newsletter!"/></a></div>
                    </div>
                </div>
</nav>

<script>
	function generalSearch(){
		document.location = "../controller/controller.php?action=ShowGames&ListType=GeneralSearch&Criteria=" +  
			encodeURIComponent($('#Criteria').val());
	}
	
</script>

